/* cabeçalho */
.bg-verde {
    background-color: #ecf6ed; /* substitua pelo código da cor desejada */
  }

.navbar-brand{
    font-weight: bold;
    color: #444242;
}

#map {
  height: 500px; /* A altura padrão */
  width: 100%; /* A largura ocupa toda a largura da página */
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #000; /* Adiciona uma borda sólida de 1 pixel com cor preta */

  /* Estilos para telas menores */
  @media screen and (max-width: 768px) {
    height: 350px; /* Reduz a altura para telas menores */
  }
}



/*login */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

.login-popup {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.login-popup h2 {
  margin-top: 0;
}

.login-popup label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.login-popup input {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.login-popup button {
  padding: 10px 30px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 0.5rem;
  margin-left: 2rem;
}

.login-popup button:hover {
  background-color: #45a049;
}

#overlay.show {
  display: flex;
}

/* Notícias */
section {
  margin-bottom: 20px;
}

h5 {
  font-size: 20px;
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  padding: 0px, 0px;
  margin: 0px, 0px;
}

.news {
  display: flex;
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 10px;
}

.image {
  width: 150px;
  height: auto;
  margin-right: 10px;
}

.news-content {
  flex: 1;
  text-align: left;
}

.news-content p {
  margin: 0;
}

.news-content a {
  color: #2762a6;
  text-decoration: none;
}

.ver-mais-button {
  display: flex;
  align-items: center;
}

.ver-mais-button a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}




/* Postos */
.postos-section {
  margin: 0 28px 20px 10px;
}

.posto-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.posto {
  width: calc(33.33% - 10px);
  margin-bottom: 20px;
  display: flex;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.posto .posto-image {
  width: 100px;
  margin-right: 10px;
}

.posto .posto-details {
  display: flex;
  flex-direction: column;
}

.posto .posto-nome {
  font-size: 20px;
  font-weight: bold;
}

.posto .posto-preco {
  margin-top: 5px;
}